name: ci
on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - 1.x

jobs:
  automated-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php_version: ["8.3"]
        core_version: ["10.4.0", "10.5.0", "11.1.0"]
    env:
      PHP_VERSION: ${{ matrix.php_version }}
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose
      - name: Modify web container version
        run: sed -i 's/httpd-php:8\.3-ci/httpd-php:${{ matrix.php_version}}-ci/g' docker-compose.yml

      - name: Start services with Docker Compose
        run: docker-compose up -d

      - run: docker compose exec -T web composer self-update # Fix for broken GitHub pipeline.

      - name: Build dependencies
        run: docker-compose exec -T web composer require drupal/core:~${{ matrix.core_version }} drupal/core-composer-scaffold:~${{ matrix.core_version }} drupal/core-dev:~${{ matrix.core_version }} --update-with-all-dependencies --ansi --no-progress --no-interaction

      - name: Run grumphp
        run: docker-compose exec -T web ./vendor/bin/grumphp run

      - name: Run tests
        run: docker-compose exec -T web ./vendor/bin/phpunit
